.section {
  padding: 4rem 5rem;
  padding-top: 0;
}

/* heading styles with edit delete btns starts here */
.heading {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  padding-top: 2rem;
}
.heading h1 {
  font-size: 2.2rem;
}
.heading__btnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
}
.heading__btnWrapper button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading__btnWrapper button:hover {
  transform: translateY(-3px);
}
.heading__btnWrapper button:hover:active {
  transform: translateY(-1px);
}
/* edit button */
.heading__btn--edit {
  background-color: green;
}
.heading__btnWrapper button > *{
  margin-right: 0.3rem;
}
.heading__btn--edit:hover {
  color: green;
  background-color: #fff;
  border: 1px solid green;
}
    /* delete button */
.heading__btn--delete{
  background-color: red;
}
.heading__btn--delete:hover{
  color: red;
  background-color: #fff;
  border: 1px solid red;
}
/* heading styles with edit delete btns ends here */

.balance {
  font-size: 35px;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 700;
  color: rgb(166, 167, 171);
  margin-bottom: 20px;
}

/* card styles */
.card {
  width: 30rem;
  margin-right: 2rem;
  padding: 0;
  transition: 0.2s ease;
  cursor: pointer;
  padding: 1.5rem;
  text-align: center;
  display: inline-block;
}
.card__title {
  font-size: 3rem;
  margin-top: 2rem;
}
.card__deposit,
.card__expenses {
  text-wrap: balance;
  font-size: 1.8rem;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 500;
  margin-top: 1rem;
}
.card__deposit {
  color: rgb(105, 219, 124);
}
.card__expenses {
  color: rgb(255, 135, 135);
}

.section .addExpenseBtn {
  display: block;
  margin: 1rem auto;
  font-size: 1.2rem;
  padding: 0.8em 2.8rem;
}
.addExpenseBtn__icon {
  margin: 0 0.5rem;
  vertical-align: middle;
}

/* transaction history */
.history {
  width: 40rem;
  margin: 2rem 0;
}
.history__title {
  font-size: 1.5rem;
  line-height: 1.55;
  text-decoration: none;
  color: rgb(193, 194, 197);
}
.history__item {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 4px solid rgb(105, 219, 124);
  color: rgb(193, 194, 197);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
  position: relative;
  overflow: hidden;
  background-color: rgb(37, 38, 43);
  padding: 16px;
  margin-top: 1rem;
  cursor: pointer;
}
.history__item__name {
  color: inherit;
  font-size: 1.2rem;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 500;
}
.history__item__amount {
  font-size: 1.2rem;
  color: rgb(105, 219, 124);
  line-height: 1.55;
  text-decoration: none;
  font-weight: 500;
}

.modal__deleteBtn {
  color: rgb(255, 100, 100);
  cursor: pointer;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  position: absolute;
  transition: 0.2s;
}
.modal__deleteBtn:hover {
  transform: scale(1.2);
}
.modal__ul {
  list-style: none;
  font-size: 1.2rem;
}
.modal__ul li {
  line-height: 1.6rem;
}
.modal__ul__name {
  font-weight: 500;
}
.modal__ul__value {
  color: #aaa;
  margin: 0 5px;
}
