.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 0.5rem;
    background-color: rgb(17,18,13);
}
.form{
    overflow: visible;
    width: 30rem;
    height: auto;
    padding: 2rem 1rem;
    margin: auto 1rem;
}