.home {
  margin: 0 1rem;
  padding-top: 2rem;
}
.home h1 {
  -webkit-tap-highlight-color: transparent;
  font-size: 35px;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 700;
  color: rgb(166, 167, 171);
  margin-bottom: 20px;
}
.labelWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home .card {
  width: unset;
  max-width: 17.5rem;
  padding: 0;
  transition: 0.2s ease;
  cursor: pointer;
}
.card a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: 3rem;
  padding: 1.5rem;
  display: grid;
  text-align: center;
  grid-template-areas: "title title" "deposit expenses";
}
.card:hover {
  transform: translateY(-5px);
}
.card:active {
  transform: translateY(-1px);
}
.card__title {
  font-size: 3rem;
  grid-area: title;
}
.card__deposit,
.card__expenses {
  text-wrap: balance;
  font-size: 1.5rem;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
}
.card__deposit {
  grid-area: deposit;
  color: rgb(105, 219, 124);
}
.card__expenses {
  grid-area: expenses;
  color: rgb(255, 135, 135);
}

@media (max-width: 1200px) {
  .labelWrapper {
    grid-template-columns: repeat(2, 18rem);
    column-gap: 1rem;
  }
}
@media (max-width: 1000px) {
  .home h1{
    font-size: 1.6rem;
  }
  .home .card {
    max-width: 14rem;
    height: 12rem;
  }
  .card__title{
    font-size: 2rem;
  }
  .card__deposit,
  .card__expenses {
    font-size: 1.2rem;
  }
  .labelWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media (max-width: 600px){
  .labelWrapper{
    grid-template-columns: 18rem;
    justify-content: center;
  }
  .home .card{
    max-width: 17rem;
  }
  .home h1{
    text-align: center;
  }
}

@media(max-width: 400px){
  .labelWrapper{
    grid-template-columns: auto;
    justify-content: start;
    padding-left: 5%;
  }
  .home h1:first-child{
    font-size: 1.4rem;
    margin: 0 30%;
    text-align: left;
  }
  .home h1:nth-of-type(2){
    font-style: italic;
    text-align: left;
    margin-left: 15%;
    font-size: 1.3rem;
  }
  .labelWrapper .card{
    margin: 1rem auto;
    max-width: 10rem;
    min-width: none;
    height: unset;
  }
  .labelWrapper .card a{
    padding: 1.5rem 0.5rem;
  }
  .card__title{
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1.2rem;
  }
  .card__deposit,
  .card__expenses{
    margin: 0;
    font-size: 1rem;
  }
}