.content{
    margin: 4rem 0 0 20rem;
}
@media (max-width: 1000px){
    .content{
        margin-left: 16rem;
    }
}
@media (max-width: 800px){
    .content{
        margin-left: 6rem;
    }
}
@media (max-width: 400px){
    .content{
        margin: 2rem auto;
        margin-left: 4rem;
        margin-bottom: 0;
    }
}