.card{
    outline: 0px;
    width: 18rem;
    height: 15rem;
    -webkit-tap-highlight-color: transparent;
    display: block;
    text-decoration: none;
    color: rgb(193, 194, 197);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 10px 15px -5px, rgba(0, 0, 0, 0.04) 0px 7px 7px -5px;
    overflow: hidden;
    background-color: rgb(37, 38, 43);
    margin-bottom: 50px;
    padding: 1.5rem;
    font-size: 1.1rem;
}