.nav a{
    text-decoration: none;
    color: rgb(193, 194, 197);
}
.nav{
    position: fixed;
}
.nav__header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: rgb(26, 27, 30);
    border-bottom: 1px solid rgb(44, 46, 51);
    color: rgb(166, 167, 171);
    font-size: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__header h1{
    font-weight: 400;
}
.nav__header h1 *{
    vertical-align: middle;
}
.nav__header span{
    font-size: 1.8rem;
    margin: 0 0.5rem;
}
.userBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.userBox__username{
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.logoutBtn:hover,
.logoutBtn:active{
    scale: 1.1;
    background-color: #fff;
    color: #222;
}
.logoutBtn:active{
    scale: 1;
}
.nav__ul .nav__ul__logoutBtn{
    display: none;
}
.nav__header__menuBtn{
    position: absolute;
    top: 35%;
    left: 4%;
    font-size: 1.8rem;
    color: rgb(165, 216, 255);
    cursor: pointer;
    display: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.nav__header__menuBtn svg{
    transform: rotate(-90deg);
    transition: .4s ease;
}
.nav__header__menuBtn.clicked svg{
    transform: rotate(90deg);
}



.nav__ul{
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: rgb(26, 27, 30);
    border-right: 1px solid rgb(44, 46, 51);
    padding: 16px;
    padding-top: 2rem;
}
.nav__ul li{
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    border: 0px;
    appearance: none;
    font-size: 1.1rem;
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 3rem;
    padding: 10px;
    padding-top: 12px;
    border-radius: 4px;
    margin: 0.5rem 0;
}
.nav__ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.nav__ul a > *{
    vertical-align: middle;
}
.nav__ul li a span{
    margin: 0 1rem;
}
.nav__ul li a svg{
    color: rgb(165, 216, 255);
}
.nav__ul a:hover li,
.nav__ul a:active li{
    background-color: #454545;
}
.nav__ul a.active li{
    background-color: rgb(120, 120, 255);
    color: #fff;
}
.nav__ul a.active li *{
    color: #fff;
}

@media (max-width: 1000px){
    .nav__ul{
        width: 15rem;
    }
}
@media (max-width: 800px) {
    .nav__ul{
        width: 5rem;
        transition: width .2s ease-in-out;
    }
    .nav__ul li{
        text-align: center;
        vertical-align: middle;
        font-size: 1.2rem;
    }
    .nav__ul.clicked{
        width: 15rem;
    }
    .nav__ul.clicked li{
        text-align: left;
    }
    .nav__ul li span{
        display: none;
        opacity: 0;
        transition: .2s ease-in-out;
    }
    .nav__ul.clicked li span{
        display: inline;
        opacity: 1;
    }

    .nav__header{
        justify-content: center;
    }
    .nav__header h1 *{
        font-size: 1.5rem;
    }
    .nav__header .userBox{
        display: none;
    }
    .nav__header__menuBtn,
    .nav__ul .nav__ul__logoutBtn{
        display: block;
    }
}

@media (max-width: 400px){
    .nav__header h1{
        margin: 0;
    }
    .nav__header h1 *{
        font-size: 1rem;
    }
    .nav__header{
        height: 3rem;
    }
    .nav__header__menuBtn{
        top: 120%;
        left: 1.3rem;
        font-size: 1.3rem;
    }
    .nav__ul{
        width: 4rem;
    }
    .nav__ul li{
        font-size: 0.8rem;
        height: 2rem;
        line-height: 2rem;
        padding: 0;
    }
    .nav__ul.clicked li{
        padding-left: 0.5rem;
    }
    .nav__ul.clicked{
        width: 10rem;
    }
}